<header class="site-header">
    <nav class="nav-container">
      <a href="/main" class="site-name">Lomo Site</a>
      <!-- 导航 -->
      <div class="nav">
      <ul class="nav-menu">
        {% for page in site.pages %}
          {% if page.title and page.navshow == true %}
          <li>
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      </div>
    </nav>
</div>
</header>
