a{
	color: #4c4c4c;
}

a:hover{
	color:black;
	cursor:pointer;
}
.post-list{
	.post-thumb{
		width: 280px;
	    height: 130px;
	    background-size: cover;
	    border-radius: 4px;
	    background-repeat: no-repeat;
	}
	.post-content{
	.post-title{
			font-family: PT Serif,serif;
			font-size:22.5px;
	}
	}
	}
