a {
  color: #4c4c4c;
}

a:hover {
  color: black;
  cursor: pointer;
}

.post-list {
  width: 750px;
  section {
    article {
      margin-top: 30px;
    }
  }
  .post-thumb {
    width: 280px;
    height: 130px;
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    float: left;
  }
  .post-thumb:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  .post-content {
    padding: 10px 0 10px 10px;
    overflow: hidden;
    .post-title {
      font-family: PT Serif, serif;
      font-size: 22.5px;
    }
    .post-title:hover {
      text-decoration: underline;
    }
    .post-time{
      font-size: 14px;
    }
  }
}
