<!DOCTYPE html>
<html>

<head>
    <title>Lomo Wibesite</title>
</head>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">

<body>
    <div class="content-wrap">
        <div class="content">
            <h1 class="title">Hi,I am <strong>{{site.name}}</strong></h1>
            <p class="welcome-text">欢迎您访问我的个人网站，</p>
            <div class="lomo-role">
                <label>我只是另一个：</label>
                <div class="ul-wrap">
                    <ul>
                        <li>Geek</li>
                        <li>前端工程师</li>
                        <li>独立摄影师</li>
                        <li>boringer</li>
                        <li>Dreamer</li>
                        <li>星际II 玩家</li>
                        <li>电音爱好者</li>
                        <li>Geek</li>
                    </ul>
                </div>
            </div>
            <p>我来自中国上海，你可以在这里找到一些有趣的
                <a class="go-photos" href="/photos/">照片</a>、文章，和意想不到的事 :D</p>
        </div>
        <div class="cover-nav-1">
            <ul>
                <li>
                    <i class="link-icon sina-wb-icon"></i>
                    <a href={{site.sina_weibo}}>新浪微博</a>
                </li>
                <li>
                    <i class="link-icon lofter-icon"></i>
                    <a href={{site.lofter}}>Lofter</a>
                </li>
                <li>
                    <i class="link-icon flickr-icon"></i>
                    <a href={{site.flickr}}>Lofter</a>
                </li>
            </ul>
        </div>
        <div class="cover-nav-2">
            <a href="javascript:;">About</a>
            <span class="sep">•</span>
            <a href="javascript:;">Contact</a>
            <span class="sep">•</span>
            <a href="javascript:;">FAQs</a>
            <span class="sep">•</span>
            <a href="javascript:;">Sitemap</a>
        </div>
    </div>
</body>

</html>
