<!DOCTYPE html>
<html>

<head>
    <title>Lomo Wibesite</title>
</head>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css">

<body>
    <div class="content-wrap">
        <div class="content">
            <h1 class="title">Hi,I am <strong>{{site.name}}</strong></h1>
            <p class="welcome-text">欢迎您访问我的个人网站，</p>
                <div class="lomo-role">
                    <label>我只是另一个：</label>
                    <div class="ul-wrap">
                        <ul>
                        	<li>Geek</li>
                            <li>前端工程师</li>
                            <li>独立摄影师</li>
                            <li>boringer</li>
                            <li>Dreamer</li>
                            <li>星际II 玩家</li>
                            <li>电音爱好者</li>
                            <li>Geek</li>
                        </ul>
                    </div>
                </div>
            <p>我来自中国上海，你可以在这里找到一些有趣的照片、文章，和意想不到的事 :D</p>
        </div>
        
    </div>
</body>

</html>
