--- 
layout: page
---
<article class="post" itemscope itemtype="">
    <div class='page-main-picture' style="background-image: url('/assets/images/{{ page.image.main}}');"></div>
    <header class="post-header">
        <p class="post-meta">{% if page.author %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>
    <div class="post-content" itemprop="articleBody">
        <div class="post-inner-wrapper">
            {{ content }}
        </div>
    </div>
</article>
